* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.google {
    height: 50px;
    width: 60px;
}

.navh2 {
    /* margin-left: 10px; */
    margin-top: 10px;
    font-size: 25px;
}

.logoswiggy {
    display: flex;
    margin-top: 30px;
    margin-left: 100px;
}

.logoswallow {
    height: 50px;
    margin-top: 50px;
}

.filago {
    margin-top: 30px;
    display: flex;
    margin-left: 100px
}

.font {
    padding-left: 5px;
    font-size: 17px;
}

body {
    background-color: #fe5105;
    /* margin:0px;
    padding:0px; */

    /* background-image: url(download\ \(1\).png);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position:center -100px left -10px;
    position: absolute; */
    /* background-image: url(download\ \(2\).png);
    background-size:350px;
    background-repeat: no-repeat;
    background-position:center  right -10px;
    position: relative;
    marign-left:50px; */
}

/* img {
    height: 55px;
    width:70px;

} */

.navbar {
    color: white;
    /* font-width: 100px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    /* font-weight: bolder; */
    display: flex;
    justify-content: space-between;
    gap: 1px;
    width: 90%;
    margin-top: 10px;
    /* margin: auto; */
    padding-top: 0%;

}

/* .option{
    font-family: sans-serif;
    font-size: 35px;
    font-weight: bold;
    color:#fe5105;
    margin-top: 50px;
} */
.salogo {
    display: flex;
    align-items: center;
    width: 30%;
    margin-top: 41px;
    /* margin-left: 20px; */
    /* padding-right: 10px; */
    height: 60px;
    /* padding-bottom: 20px; */
}

.part1 {
    width: 150px;
    font-size: 15px;
    font-weight: bold;

}

.part2 {
    width: 145px;
    font-size: 15px;
    font-weight: bold;

}


.nav-links {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 80px;

}

.butt {
    height: 50px;
    width: 155px;
    font-size: 15px;
    background-color: #fe5105;
    border: 1px solid white;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    /* margin: 10px; */
    outline: none;


}

.nav-links a {
    margin: 0 10px;
}

.button {
    height: 50px;
    width: 130px;
    margin: 15px;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border-radius: 15px;
    outline: none;
    border-style: solid;
    font-weight: bolder;
}

.searchme {
    text-align: center;
    height: 20px;
    width: 328px;
    border-radius: 15px;
    padding: 30px;
    /* margin: 100px; */
    /* margin-left:280px; */
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-weight: lighter; */
}

.secondsearch {
    text-align: center;
    height: 60px;
    width: 380px;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
    font-size: 17px;
    font-family: sans-serif;
}

#toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 90px;
    font-weight: lighter;
    width: 100%;

}

#toolbar input {
    outline: none;
    border: none;
}

#container {
    background-image: url('food\ good.jpg');
    /* background-size:cover; */
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: bottom -25px right -15px;
    height: 270px;
    width: 480px;
    background-color: white;
    border-radius: 40px;
    /* align-items: center; */
    /* margin-top: 50px; */
    /* align-items:center; */
    /* justify-content:center; */
    color: #4E4E4E;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    /* margin-left: 100px; */
    /* width:50%; */
}

h1,
h2 {
    margin: 0px;
    padding: 0px;
}

#h2 {
    color: #4E4E4E;
    font-weight: lighter;
}

#offer {
    color: #fe5105;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    text-align: left;
    background-color: rgba(214, 130, 34, 0.1);
    display: inline-block;
    font-size: medium;
}

#button2 {
    height: 50px;
    width: 120px;
    border-radius: 20px;
    background-color: #fe5105;
    display: block;
    padding: 10px;
    margin-top: 80px;
    text-align: center;
    border: 2px solid #fe5105;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: large;
    display: flex;
    justify-content: center;
}

#pic {
    margin: 0px;
    padding: 0px;
}

#container2 {
    height: 270px;
    width: 480px;
    background-color: white;
    background-image: url(carrybag.jpg);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: bottom -2px right -40px;
    border-radius: 40px;
    /* margin-top: 50px; */
    justify-content: center;
    color: #4E4E4E;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    display: block;
    align-items: center;

    /* align-content:center ; */


}

#from {
    margin-top: 0px;
    padding: 0px;
    font-weight: lighter;
}

#offers {
    color: #fe5105;
    font-weight: lighter;
    padding: 10px;
    display: flex;
    text-align: left;
    background-color: rgba(214, 130, 34, 0.1);
    display: inline-block;
    font-size: medium;
    border-radius: 50px;
    font-weight: bold;
}
.menu-btn{
    display:none;
}

#button3 {
    height: 50px;
    width: 120px;
    border-radius: 20px;
    background-color: #fe5105;
    display: block;
    padding: 10px;
    margin-top: 80px;
    text-align: center;
    border: 2px solid #fe5105;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: large;
    display: flex;
    justify-content: center;
}

#bigcontainer {
    height: auto;
    min-height: 54vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    /* padding-bottom:50px; */
    position: relative;
    align-items: center;
}

#bigwhite {
    background: #fff;
    /* display:flex; */
}

.inner-cont {
    width: 92%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    /* margin: auto; */
    justify-content: center;
    /* flex-direction:row ; */
    /* padding-left: 100px; */
    font-family: sans-serif;
    /* font-weight: bold; */
    /* margin-top: 20px; */
}

.foods {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    /* display: inline-block; */
    /* flex-direction: column-reverse; */
    /* flex-wrap: nowrap; */
    /* border-radius: 20px; */
}

.foods img {
    height: 150px;
    gap: 10px;
    /* display: inline; */
}

.noodles img {
    height: 150px;
    /* display: inline; */
}

#font {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 90px;
}

.burger img {
    height: 150px;
    /* display: inline-block; */
}

.img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.imgdev {
    height: 100px;
    width: 120px;
}

.food {
    height: 130px;
    min-width: 200px;
    width: 16%;
    text-align: center;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
}

.myfood {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#anothercontainer {
    height: auto;
    width: 100%;
    padding-left: 10px;
}

.carosel {
    display: flex;
    justify-content: space-around;
}

#son1 {
    padding-left: 70px;
    padding-top: 75px;
    padding-bottom: 30px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
}

#anothercontainer {
    /* height:100%; */
    width: 100%;
    background-color: white;
    font-family: sans-serif;
    font-size: 27px;
    /* font-weight: 600; */
    padding-left: 128px;
    padding-top: 131px;
    padding-bottom: 145px;
}

#herosection {
    background-color: white;
    /* ackground-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.groceries {
    /* display: flex; */
    /* gap:50px; */
    /* width:90%; */
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    /* margin: auto; */
    justify-content: center;
    /* flex-direction: row; */
    /* padding-left: 100px; */
    font-family: sans-serif;
    /* font-weight: bold; */
    gap: 50px;
    /* margin: auto; */
    display: flex;
    flex-wrap: wrap;
}

.grocery {
    width: 150px;
    height: 200px;

}

.grocery img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bis {
    font-size: 18px;
    /* padding-left: 53px; */
}

.cheese {
    font-size: 18px;
    /* padding-left: 53px; */
}

.vugi {
    font-size: 18px;
    /* padding-left: 5px; */
}

.firots {
    font-size: 18px;
    /* padding-left: 53px; */
    /* padding-bottom: 10px; */
}

.bireds {
    font-size: 18px;
    /* padding-left: 53px; */
}

.reece {
    font-size: 18px;
    /* padding-left: 53px; */
}

.mesala {
    font-size: 18px;
    /* padding-left: 53px; */
}

.cakes {
    /* margin-left: -63px; */
    /* margin-top: 41px; */
    /* height: 155px; */
    font-size: 18px;
    /* padding-left: 53px; */
}

.cakes p {
    font-size: 18px;
    /* padding-left: 53px; */
}

.grocery img {
    height: 87%;
    width: 100%;
    /* text-align: center; */
    /* margin-top: 50px; */
    display: inline;
    /* margin-top: 42px; */
    /* margin-left: 15px; */
}

#section4 {
    height: 210px;
    width: 80%;
    background-color: #0D1112;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    /* background-image: url(SWIGGY.NS.png); */
    font-size: 15px;
    color: #fe5105;

}

.appLogo {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.swiggylog img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.discount {
    font-size: small;
    color: #4E4E4E;
}

.qrname {
    color: #fe5105;
    font-family: sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: right;
    margin-top: 50px;

}

.app {
    padding-bottom: 10px;
    font-size: 35px;
}

.qrcode {
    width: 297px;
    height: 183px;
}

.qr {
    /* width: 100%;
    height: 120%;
    object-fit: contain;
    margin-left: 121px; */
    width: 110%;
    height: 108%;
    object-fit: contain;
    margin-left: 42px;
}

.left-side {
    height: 100%;
    width: 100%;
}

.cartoon {
    padding-top: 100px;
}

.textdown {
    font-family: sans-serif;
    font-size: 10px;
    color: #fe5105;
}

#section5 {
    height: 100%;
    width: 100%;
    background-color: white;
    color: #0D1112;
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 600;
    padding-left: 115px;
    padding-top: 50px;
}

#section6 {
    height: 100%;
    width: 100%;
    background-color: white;
    font-size: 27px;
    padding-left: 120px;
    font-family: sans-serif;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 100px;
    /* justify-content: space-between; */
}

.box1 {
    color: #909090;
}

.blr {
    height: 45px;
    font-family: sans-serif;
    width: 275px;
    font-size: 16px;
    display: flex;
    text-align: center;
    font-weight: bold;
    color: #121212;
    margin-top: 19px;
    border-radius: 10px;
    border: 1px solid #4E4E4E;
    border: 1.5px solid rgba(2, 6, 12, 0.15);
}

.blr {
    outline: none;
}

.box12 .blr::placeholder {
    color: #fe5105;
}

#location {
    display: block;
}

#section7 {
    height: 100%;
    width: 100%;
    background-color: #f0f0f5;
    /* color:#fe5105;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold; */
    display: flex;
    /* flex-wrap: wrap; */
    /* padding-left: 20px; */
    padding-top: 60px;
    padding-left: 155px;
    padding-bottom: 80px;
}

.footer-logo {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

#left-section {
    width: 250px;

}

#footerlinks {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.footer-logo {
    display: flex;
    padding-bottom: 5px;
    height: 27%;
    width: 100%;
}

.option {
    color: #fe5105;
    font-size: 30px;
    margin-top: 59px;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 3px;
    /* height: 10px; */
}

#footer-links {
    gap: 33px;
    display: flex;
}

.apple {
    color: #fe5105;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding-top: 5px;
}

.limited {
    /* height:100%;
    width:100%; */
    /* background-color: #E0E0E0; */
    color: #4E4E4E;
    width: 66%;
    font-family: sans-serif;
    margin-top: 14px;
}

#right-section {
    height: 100%;
    width: 100%;
    left: 100px;
    background-color: #E0E0E0;
    padding-left: 100px;
    font-family: sans-serif;
    font-weight: 10px;
    color: #4E4E4E;
    font-weight: 500;
    font-size: 12px;
}

.company {
    font-weight: 700;
    padding-bottom: 10px;
    color: black;
    font-family: sans-serif;
}

.corporate {
    padding-bottom: 10px;
}

.career {
    padding-bottom: 10px;
}

.teams {
    padding-bottom: 10px;
}

.swiggyone {
    padding-bottom: 10px;
}

.instamart {
    padding-bottom: 10px;
}

.about {
    padding-bottom: 10px;
}

.list-2 {
    list-style: none;
    color: #4E4E4E;
    font-size: 17px;

}

.heading {
    font-weight: 700;
    color: black;
    padding-top: 10px;
}


.list-3 li {
    padding-top: 7px;
    font-family: sans-serif;
    font-size: 15px;
    list-style: none;
}

#secondright {
    padding-left: 80px;
    display: flex;
}

.header1 {
    color: #0D1112;
    font-weight: 700;
    padding-bottom: 10px;
    font-family: sans-serif;
}

.header {
    padding-bottom: 10px;
    padding-top: 10px;
    color: #4E4E4E;
}

#thirdright {
    padding-left: 80px;
    display: flex;
}

.input {
    border-radius: 3px;
    outline: none;
    border: 1px solid #4e4e4e;
    width: 66px;
    display: flex;
    text-align: center;
    color: white;
}

#fourthright {
    padding-left: 70px;
}

.heading {
    padding-bottom: 10px;
    font-family: sans-serif;
}

.header6 {
    color: #0D1112;
    font-family: sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
}

.fa-brands {
    color: #0D1112
}

#section8 {
    height: 100%;
    width: 100%;
    background-color: white;
    /* background-image: url(Capture3323.PNG); */
    color: #4E4E4E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 21px;
    padding-left: 30px;
    padding-top: 110px;
    display: flex;
    border-top: 1px solid #4E4E4E;
    padding-top: 30px;
    justify-content: center;
    padding-bottom: 30px;
}

.lasttext {
    padding-top: 10px;
}

.lastphoto {
    height: 60px;
    width: 230px;
    padding-left: 20px;
}

.playstore {
    height: 60px;
    width: 230px;
    padding-left: 20px;
    /* padding-right: 20px; */
}

@media (max-width:1024px) {
    .google {
        height: 35px;
        width: 50px;
    }

    .navh2 {
        margin-top: 6px;
        font-size: 20px;
    }

    .font {
        height: 40px;
    }

    .logoswiggy {
        display: flex;
        margin: 0px;
        margin-left: 28px;
    }

    .part1 {
        width: 109px;
        font-size: 11px;
        font-weight: bold;
    }

    .part2 {
        width: 96px;
        font-size: 11px;
        font-weight: bold;
    }

    .butt {
        height: 40px;
        width: 100px;
        font-size: 15px;
        background-color: #fe5105;
        border: 1px solid white;
        border-radius: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        font-weight: bolder;
        font-size: 11px;
        /* margin: 10px; */
        outline: none;
    }

    .button {
        height: 40px;
        width: 100px;
        margin: 0px;
        margin-left: 10px;
        background-color: black;
        color: white;
        border-radius: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 11px;
        border-radius: 15px;
        outline: none;
        border-style: solid;
        font-weight: bolder;
    }

    .nav-links {
        margin-top: 0px;
    }

    .navbar {
        margin-top: 30px;
    }

    #bigcontainer {
        margin: 20 20px
    }

    #container {
        margin: 20px 0px;
        /* margin-top: 40px; */
    }

    #container2 {
        margin-bottom: 40px;
        margin-top: 40px;
    }
}

@media (max-width:715px) {
    .google {
        height: 30px;
        width: 40px;
        margin-top: 3px;
    }

    .navh2 {
        margin-top: 6px;
        font-size: 15px;
    }

    .nav-links {
        margin-left: 50px;
    }

    #container2 {
        margin-top: 0px;
    }

    #container {
        margin-bottom: 0px;
    }

    .qr {
        margin-left: 0px;
    }

    .navh2 {
        margin-top: 12px;
        font-size: 12px;
    }

    .appLogo {
        padding-bottom: 0px;
    }

    .app {
        font-size: 25px;
    }

}

@media(max-width:635px) {
    .button {
        width: 80px;
    }

    .butt {
        width: 85px;
    }

    .nav-links {
        margin-left: 30px;
    }

    .qr {
        margin-left: 0px;
    }
}

@media(max-width:590px) {
    .part1 {
        font-size: 10px;
        width: 99px;
    }

    .part2 {
        font-size: 10px;
        width: 89px;
    }

    .button {
        margin-left: 8px;
    }
}

@media(max-width:540px) {
    .part1 {
        font-size: 9px;
        width: 89px;
    }

    .part2 {
        font-size: 9px;
        width: 79px;
    }
}

@media(max-width:570px) {
    .nav-links {
        margin-left: 0px;
    }

    .lastphoto {
        height: 40px;
        width: 150px;
    }

    .playstore {
        height: 40px;
        width: 126px;
        padding-left: 4px;
    }
}

@media(max-width:510px) {
    #section4 {
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .qrcode {
        width: 252px;
    }

    .discount {
        font-size: 10px;
        display: flex;
        justify-content: center
    }

    .app {
        font-size: 20px;
        margin-top: 10px;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
    }

    .appLogo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #anothercontainer {
        padding-left: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .google {
        height: 25px;
        width: 30px;
        margin-top: 5px;
    }

    .lastphoto {
        padding-left: 0px;
    }

    #section7 {
        padding-left: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 0px;
    }

    .footer-logo {
        height: 13%;
        margin-top: 5px;
    }

    #footerlinks {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
    }

    .logoswallow {
        height: 45px;
        margin-top: 0px;
    }

    .option {
        margin-top: 5px;
    }

    #section6 {
        justify-content: center;
        padding-left: 0px;
        padding-bottom: 60px;
    }

    .limited {
        margin-top: 0px;
    }

    #section8 {
        flex-wrap: wrap;
        font-size: inherit;
    }

    .lastphoto {
        margin-top: 10px;
    }

    .playstore {
        margin-top: 10px;
    }
}

@media (max-width:495px) {
    .button {
        width: 65px;
    }

    .nav-links a {
        margin-left: 2px;
        margin-right: 2px;
    }

    .navbar {
        justify-content: center;
    }

    #container {
        width: 420px;
    }

    #container2 {
        width: 420px;
    }

    /* .navbar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    } */
    /* .symbol{
        display: none;
    } */

    @media(max-width:425px) {
        #container {
            width: 410px;
        }

        #container2 {
            width: 410px;
        }

        .nav-links {
            display: none;
        }

        .menu-btn {
            background-color: #fe5105;
            color: white;
            border: none;
            font-weight: bold;
            font-size: large;
        }

        .menu-btn {
            display: block;
        }

        .navbar {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
        }
    }

    @media(max-width:411px) {

        #container {
            width: 400px;
        }

        #container2 {
            width: 400px;
        }

        .nav-links {
            display: none;
        }

        .menu-btn {
            background-color: #fe5105;
            color: white;
            border: none;
            font-weight: bold;
            font-size: large;
        }
    }

    @media(max-width:403px) {
        #container {
            width: 300px;
        }

        #container2 {
            width: 300px;
        }

        .secondsearch {
            width: 300px;
            font-size: 13px;
        }

        .searchme {
            font-size: 12px;
            width: 261px;
        }

        .parent {
            font-size: 21px;
            font-weight: bold;
        }

        #section5 {
            padding-left: 25px;
            font-size: 21px;
            display: flex;
            justify-content: center;
        }

        #son1 {
            display: flex;
            justify-content: center;
            font-size: 21px;
            padding-left: 0px;
        }

        .footer-logo {
            display: flex;
            justify-content: center;
        }

        .limited {
            margin-left: 45px;
        }

        #button2 {
            width: 115px;
        }

        #button3 {
            width: 100px;
        }

        .firots {
            width: max-content;
            font-size: 15px;
        }

        .bireds {
            width: max-content;
            font-size: 15px;
        }

        .reece {
            width: max-content;
            font-size: 15px;
        }

        .mesala {
            width: max-content;
            font-size: 15px;
        }

        @media(max-width:380px) {
            .reece {
                font-size: 15px;
            }
        }
    }
}
@media(max-width:432px){
    .butt{
        width:50px;
    }
}
@media(max-width:496px){
    .button{
        width:60px;
    }
    .butt{
        width:60px;
    }
    .part2{
    font-size:8px;
    }
    .part1{
        font-size: 8px;
        padding-left: 4px;
    }   
    .navh2{
        font-size: 10px;
    }
}
@media(max-width:375px){
    #toolbar{
    margin-top: 0px;
    }
    #toolbar input{
    width: 295px;
    }
    #bigcontainer{
        gap:10px;
    }
}
@media(max-width:320px){
    .navh2{
        font-size: 20px;
        margin-top: 2px;
    }
    .google{
        height: 30px;
        width:40px;
        margin-top: 0px;
    }
    .menu-btn{
        margin-bottom: 5px;
    }
}